<header>
    <div class="header">
        <div class="">
            <a href="#test">{{>logo}}</a>
        </div>

        <nav class="header_nav">
            <div class="header_nav_right">
                {{>nav list=header}}
            </div>
        </nav>
    </div>
</header>

{{!-- <input type="text" class="input"> --}}

{{!-- <div class="modal">

    <img src="{{hero.photo}}" alt="Hero image" class="modal_image">
    <div class="modal_text">{{hero.text}}</div>
</div> --}}

{{#with hero}}
<div class="hero_container">
    <div class="hero">
        <div class="hero_content">
            <h1 class="hero_title">{{title}}</h1>
            <p class="hero_text">{{text}}</p>
        </div>
        <div class="hero_slider">
            <div class="hero_slider_icon hero_slider_left">&lt;</div>
            <img src="{{photo}}" alt="hero image" class="hero_image">
            <div class="hero_slider_icon hero_slider_right">&gt;</div>
        </div>
    </div>
</div>

{{/with}}

<main class="blog">
    {{#each blog}}
    {{>cardBlog data=this}}
    {{/each}}
</main>

<main class="blog">
    {{#each blog}}
    {{>cardBlog data=this}}
    {{/each}}
</main>

<main class="blog">
    {{#each blog}}
    {{>cardBlog data=this}}
    {{/each}}
</main>

<main class="blog">
    {{#each blog}}
    {{>cardBlog data=this}}
    {{/each}}
</main>




{{#with form}}
<div class="form">
    <div class="form_content">
        <h3 class="form_title">{{title}}</h3>
        <p class="form_info">{{info}}<span class="ex">ex</span></p>
    </div>
    <div class="form_action">
        <a href="{{href}}" class="button form_button">{{button}}</a>
    </div>
</div>
{{/with}}

<div class="test">Test</div>


<footer>

    <div class="footer" id="test">
        <div class="">
            {{>logo}}
            <span class="footer_copyright">Copyright 2023</span>
        </div>

        {{#each footer}}
        <div class="">
            <span class="footer_title">{{title}}</span>
            {{>nav list=links isVertical=true}}
        </div>
        {{/each}}

    </div>
</footer>